@import url(reset.css);
@import url(foundation.css);

/* General */

.container {
    margin-left: 1%;
}

/* Header */

header {
    background: var(--black-2);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 2.5em;
    font-style: normal;
    font-weight: 900;
    font-family: 'Arial Black';

    margin: 5px 0;
}

header .logo i {
    font-size: 0.8em;
}

.nav-link {
    color: #aaa;
    margin-right: .8em;
}

.nav-link:hover {
    color: var(--txt-white);
}

/* Hero */

.hero {
    background: linear-gradient(90deg, #141414e5 40%, rgba(0,0,0,0.3) 60%), url('../img/livros_1440x400.jpg');
    background-size: cover;

    height: 400px;
    width: 100%;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 570px;
    height: 220px;

    position: absolute;
    top: 20%;
}

.hero .container .title {
    font-size: 4em;
}

.hero .container .description {
    font-size: 1.2em;
}

.hero .container .subtitle {
    font-size: 2em;
    margin-top: 8%;
}

/* Shelfs */

.shelfs {
    width: auto;
}

.shelf {
    height: 390px;
}

.shelf-title {
    font-size: 1.5em;
    letter-spacing: 0.023em;
    font-weight: 200;
    margin-left: 10px;
}

.shelf-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shelf-row {
    height: 320px;

    overflow: hidden;
    white-space: nowrap;

    display: inline-block;
    align-items: center;
    text-align: center;
    
    width: auto;
    padding: 10px 0;
}

.book {
    margin: 5px;
    display: inline-block;

    transition: 0.5s ease;
    z-index: 1;
}

.book img:hover {
    transform: scale(1.2);
    z-index: 4;
}

.book img {
    width: 200px;
    height: 286px;
    transition: 0.5s ease;
    z-index: 2;
}


/* Forward and back buttons */
.slide-btn {
    width: 60px;
    height: 286px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 4em;
    z-index: 2;
    
    cursor: pointer;
}

.slide-back {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.018) 98.64%);
}

.slide-foward {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.018) 98.64%);
}

.slide-btn i {
    color: rgba(0, 0, 0, 0.39);
    right: 0;
}

footer {
    background: var(--black-3);
    height: 120px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
}

footer a {
    font-family: 'Megrim', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    color: #D5E616;
}
